[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb.git

[submodule "bics"]
	path = bics
	url = git@github.com:DataZooDE/erpl-bics.git
	
[submodule "odp"]
	path = odp
	url = git@github.com:DataZooDE/erpl-odp.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
