[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb.git

[submodule "bics"]
	path = bics
	url = git@github.com:DataZooDE/erpl-bics.git
	
[submodule "odp"]
	path = odp
	url = git@github.com:DataZooDE/erpl-odp.git

[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = git@github.com:duckdb/extension-ci-tools.git
