name: Main Extension Distribution Pipeline
on:
  push:
    paths-ignore:
      - '**/README.md'
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

jobs:
  duckdb-stable-build-v143:
    name: Build v.1.4.3 extension binaries
    uses: ./.github/workflows/_extension_build.yml
    secrets: inherit
    with:
      duckdb_version: v1.4.3
      extension_name: erpl
      exclude_archs: linux_arm64;windows_amd64_rtools;wasm_mvp;wasm_eh;wasm_threads;

  duckdb-stable-deploy-v143:
    name: Deploy extension binaries
    needs: duckdb-stable-build-v143
    uses: ./.github/workflows/_extension_deploy.yml
    secrets: inherit
    with:
      duckdb_version: v1.4.3
      extension_name: erpl
      exclude_archs: linux_arm64;windows_amd64_rtools;wasm_mvp;wasm_eh;wasm_threads;
      deploy_latest: ${{ startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master' }}
      deploy_versioned: ${{ !(startsWith(github.ref, 'refs/tags/v')) && !(github.ref == 'refs/heads/master') }}

  duckdb-stable-build-v144:
    name: Build v.1.4.4 extension binaries
    uses: ./.github/workflows/_extension_build.yml
    secrets: inherit
    with:
      duckdb_version: v1.4.4
      extension_name: erpl
      exclude_archs: linux_arm64;windows_amd64_rtools;wasm_mvp;wasm_eh;wasm_threads;

  duckdb-stable-deploy-v144:
    name: Deploy extension binaries
    needs: duckdb-stable-build-v144
    uses: ./.github/workflows/_extension_deploy.yml
    secrets: inherit
    with:
      duckdb_version: v1.4.4
      extension_name: erpl
      exclude_archs: linux_arm64;windows_amd64_rtools;wasm_mvp;wasm_eh;wasm_threads;
      deploy_latest: ${{ startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/master' }}
      deploy_versioned: ${{ !(startsWith(github.ref, 'refs/tags/v')) && !(github.ref == 'refs/heads/master') }}
